<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chifan-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C63313261C0F96C90069C00B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C633133F1C0F96C90069C00B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C633134A1C0F96C90069C00B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
